body {
background-color: rgb(95, 95, 250);
font: normal 15pt Arial;

}

header {
color: white;
text-align: center;
}

section {
background-color: white;
border-radius: 10px; /* Raio da Borda */
padding: 15px; /* Preenchimento */
width: 500px;
margin: auto;
box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.308);
}

div {
    text-align: center;
    padding: 5px;
}

footer {
color: white;
text-align: center;
font-style: italic;
}
img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

